* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

label {
  font-weight: 700;
}

input {
  padding: .5rem .3rem;
}

button {
  padding: .6rem 0;
  background-color: beige;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}